#dolly{
	display:none!important;
}

.border-top-zero{
	border-top: 0px;
}

.back-img-dopdop-mail{
	width: 30px;
    height: 30px;
}

#wpfooter{
	position: relative!important;
}

.update-nag{
	display: none!important;
}